NODE_ENV=development
PORT=5000

DATABASE_URL=postgresql://neondb_owner:npg_sqP7IHw8Mumh@ep-lively-morning-aw3woz6i-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

CLIENT_URLS=http://localhost:3000,https://gym-house-nu.vercel.app

AUTH_PEPPER=a8ab8a82e23bb3e33ca1a91101d23de694ff15f33ac35fa9ca188d354e4b9d5aba25c2e0464ed2879892981dcccda08e

SESSION_COOKIE_NAME=gym_house_session
SESSION_TTL_DAYS=7

ADMIN_NAME=Gym House Administrator
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=gymadmin2403
ADMIN_PROFILE_IMAGE_URL=https://i.pinimg.com/1200x/fb/52/8f/fb528f44ff535b55f3f04a09aaaffd25.jpg